@use "sass:map";
@use "variable";

.about {
  margin-top: 60px;

  @include variable.mq("md") {
    margin-top: 50px;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;

  @include variable.mq("md") {
    flex-direction: row;
    gap: 121px;
  }
}

.about__image__wrap {
  @include variable.mq("md") {
    width: 648px !important;
    height: 520px;
    background: linear-gradient(96deg, rgba(230, 238, 207, 0.28) 0%, rgba(191, 206, 236, 0.31) 0.01%, rgba(216, 153, 216, 0.27) 96.62%, rgba(219, 148, 214, 0.26) 96.63%);
    display: flex;
    align-items: center;

  }
}

.about__image {
  text-align: center;

  @include variable.mq("md") {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }

  img {
    width: 180px;

    @include variable.mq("md") {
      width: 300px;
      height: 300px;
    }
  }
}

.about__content__wrap {
  margin-top: 30px;
  margin-left: 10%;

  @include variable.mq("md") {
    margin-left: 0;
    margin-top: 65px;
    margin-right: 30px;
    width: 770px;
  }
}


.about__heading {

}

.about__content {
  
}

.about__name {
  margin-top: 17px;

  @include variable.mq("md") {
    margin-top: 30px;
  }
}

.about__name__ja {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 1.6px;

  @include variable.mq("md") {
    font-size: 20px;
  }
}

.about__name__en {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.0;
  letter-spacing: 1.6px;

  @include variable.mq("md") {
    font-size: 17px;
    line-height: 30px;
  }
}

.about__text {
  margin-top: 23px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.2px;

  @include variable.mq("md") {
    font-size: 15px;
    line-height: 1.9;
  }
}

.about__button {
  margin-top: 27px;
}

.about__skill {
  margin-top: 40px;
  background: #F1E8F654;

  @include variable.mq("md") {
    width: 800px;
    margin-left: auto;
    margin-right: 0;
  }
}

.about__skill__inner {
  margin-inline: 35px;
  padding-top: 40px;
  padding-bottom: 40px;

  @include variable.mq("md") {
    margin-inline: 80px;
    padding-bottom: 57px;
  }
}

.skill__heading {

}

.skill__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
  justify-content: center;
  margin-top: 25px;

  @include variable.mq("md") {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 43px;
    margin-top: 45px;
  }
}

.skill__item {
  text-align: center;
}

.skill__item__title {
  font-size: 15px;
  line-height: 1.8;
}


.skill__item__image {
  width: 70px;
}








