@use "sass:map";
@use "variable";

.about {
  margin-top: 60px;

  @include variable.mq("md") {
    margin-top: 50px;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;

  @include variable.mq("md") {
    flex-direction: row;
    gap: 80px;
  }

  @include variable.mq("lg") {
    gap: 121px;
  }
}

.about__image__wrap {
  @include variable.mq("md") {
    width: 648px !important;
    height: 440px;
    background: linear-gradient(96deg, rgba(230, 238, 207, 0.28) 0%, rgba(191, 206, 236, 0.31) 0.01%, rgba(216, 153, 216, 0.27) 96.62%, rgba(219, 148, 214, 0.26) 96.63%);
    display: flex;
    align-items: center;

  }

  @include variable.mq("lg") {
    height: 520px;
  }
}

.about__image {
  text-align: center;
  background: linear-gradient(96deg, rgba(230, 238, 207, 0.28) 0%, rgba(191, 206, 236, 0.31) 0.01%, rgba(216, 153, 216, 0.27) 96.62%, rgba(219, 148, 214, 0.26) 96.63%);
  border-radius: 50%;
  margin-inline: auto;
  width: 210px;
  height: 210px;
  align-items: center;
  display: flex;
  justify-content: center;

  @include variable.mq("md") {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }

  @include variable.mq("lg") {
    width: 400px;
    height: 400px;
  }

  img {
    width: 180px;

    @include variable.mq("md") {
      width: 230px;
      height: 230px;
    }

    @include variable.mq("lg") {
      width: 360px;
      height: 360px;
    }
  }
}

.about__content__wrap {
  margin-top: 30px;
  margin-left: 10%;

  @include variable.mq("md") {
    margin-left: 0;
    margin-top: 65px;
    margin-right: 30px;
    width: 770px;
  }
}


.about__heading {

}

.about__content {
  
}

.about__name {
  margin-top: 17px;

  @include variable.mq("md") {
    margin-top: 30px;
  }
}

.about__name__ja {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 1.6px;

  @include variable.mq("md") {
    font-size: 20px;
  }
}

.about__name__en {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.0;
  letter-spacing: 1.6px;

  @include variable.mq("md") {
    font-size: 17px;
    line-height: 30px;
  }
}

.about__text {
  margin-top: 23px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.2px;


  @include variable.mq("md") {
    font-size: 15px;
    line-height: 1.5;
  }

  @include variable.mq("lg") {
    line-height: 1.9;
  }
}

.about__text-1 {

}

.about__text-2 {
  margin-top: 7px;

  @include variable.mq("sm") {
    margin-top: 15px;
  }
}

.about__text-3 {
  margin-top: 7px;

  @include variable.mq("sm") {
    margin-top: 15px;
  }
}

.about__text-4 {
  margin-top: 7px;

  @include variable.mq("sm") {
    margin-top: 15px;
  }
}

.about__button {
  margin-top: 27px;

  @include variable.mq("md") {
    margin-top: 40px;
  }
}

.about__skill {
  margin-top: 40px;
  background: #F1E8F654;

  @include variable.mq("md") {
    width: 700px;
    margin-left: auto;
    margin-right: 0;
  }

  @include variable.mq("lg") {
    width: 800px;
  }
}

.about__skill__inner {
  margin-inline: 35px;
  padding-top: 40px;
  padding-bottom: 40px;

  @include variable.mq("md") {
    margin-inline: 80px;
    padding-bottom: 57px;
  }
}

.skill__heading {

}

.skill__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
  justify-content: center;
  margin-top: 25px;

  @include variable.mq("md") {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 43px;
    margin-top: 45px;
  }
}

.skill__item {
  text-align: center;
}

.skill__item__title {
  font-size: 15px;
  line-height: 1.8;
}


.skill__item__image {
  width: 70px;
}








