@use "sass:map";
@use "variable";

.footer {
  background-color: #000;
}

.footer__inner {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @include variable.mq("md") {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  gap: 40px;

  @include variable.mq("md") {
    gap: 50px;
  }
}

.footer__mail {

}

.footer__mail__icon {
  width: 29px;
  margin-bottom: 8px;
  position: relative;

  @include variable.mq("md") {
    width: 39px;
    margin-bottom: 14px;
  }


  img {
    transition: opacity 0.3s ease;
  }

  
  &:hover img {
    opacity: 0.6;
  }
}



.footer__x {

}

.footer__x__icon {
  width: 30px;
  margin-bottom: 8px;
  position: relative;

  @include variable.mq("md") {
    width: 40px;
    margin-bottom: 14px;
  }

  img {
    transition: opacity 0.3s ease;
  }

  
  &:hover img {
    opacity: 0.7;
  }
}


.footer__copyright {
  color: #fff;
  font-size: 9px;

  @include variable.mq("md") {
    font-size: 12px;
  }
}

