@use "sass:map";
@use "variable";


.fv {
  position: relative;
  width: 100%;
  height: 600px; /* 必要に応じて高さを調整 */
  overflow: hidden;
  padding-left: 48px;

  @include variable.mq("md") {
    padding-left: 116px;
    height: 900px;
  }
}

.fv__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.fv__background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fv__img {
  &.fv__img1 {
    background-image: url(../img/fv/fv_img-1.png);
  }
  
  &.fv__img2 {
    background-image: url(../img/fv/sp/fv_img-2-sp.png);
  }
  
  &.fv__img3 {
    background-image: url(../img/fv/fv_img-3.png);
  }
  
  &.fv__img4 {
    background-image: url(../img/fv/fv_img-4.png);
  }

  @include variable.mq("md") {

    &.fv__img2 {
      background-image: url(../img/fv/fv_img-2.png);
    }
  }
}

.fv__img {
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 24s 0s infinite;
  animation: anime 24s 0s infinite;
}

.fv__img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.fv__img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.fv__img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

  @keyframes anime {
    0% {
          opacity: 0.3;
      }
      8% {
          opacity: 1;
      }
      17% {
          opacity: 1;
      }
      25% {
          opacity: 0.2;
          transform: scale(1.2);
          z-index:9;
      }
      40% {
        opacity: 0;
    }
      100% { opacity: 0;}
  }  

.fv__logo {
  position: absolute; /* 絶対位置に設定 */
  top: 50%; /* 縦中央 */
  left: 50%; /* 横中央を少し左に移動（必要に応じて調整） */
  transform: translateY(-50%);
  z-index: 10;
  display: flex; /* 子要素を横に並べるために追加 */
  gap: 12px; /* ロゴ間の距離を縮めるために追加 */
  flex-direction: column;
  justify-content: center; /* 子要素を中央揃え */
  align-items: center;
  width: 160px;

  @include variable.mq("sm") {
    top: 52%;
    width: 290px;
  }

  @include variable.mq("md") {
    top: 55%;
    width: 400px;
  }

  @include variable.mq("lg") {
    top: 56%;
    width: 470px;
  }

  @include variable.mq("xl") {
    top: 57%;
    width: 513px;
  }

}

.fv__logo-1,
.fv__logo-2 {
  opacity: 0; /* 初期状態は透明 */
  animation: fadeIn 1s forwards; /* フェードインアニメーション */

  img {
    width: auto; /* 自動サイズ */
    height: 100%;
  }
}

.fv__logo-1 {
  animation-delay: 0.6s; /* 0.5秒遅延 */
}

.fv__logo-2 {
  animation-delay: 1.3s; /* 1秒遅延 */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* 最初は透明 */
    transform: translate(-50%, -30%); /* 少し上から */
  }
  100% {
    opacity: 1; /* 最後は表示 */
    transform: translate(-50%, -50%); /* センタリング */
  }
}
