@use "sass:map";
@use "variable";


.works5__highlight__content {
  display: flex;

  @include variable.mq("md") {
    flex-direction: row;
    gap: 30px;
  }
}

.works5__highlight__image__modal {
  width: auto;
  margin-top: 15px;

  @include variable.mq("md") {
    width: 330px;
  }

  @include variable.mq("md") {
    width: 400px;
  }

  @include variable.mq("xl") {
    width: 560px;
  }
}

.works5__modal__image {
  width: auto;

  @include variable.mq("md") {
    width: 270px;
  }

  @include variable.mq("lg") {
    width: 340px;
  }

  @include variable.mq("xl") {
    width: 500px;
  }

}

.works5__modal__text {
  display: flex;
  line-height: 1.6;
  font-size: 14px;
  align-items: center;

  @include variable.mq("md") {
    font-size: 16px;
  }
}

.works5__modal__text-1 {
  
}

.works5__highlight__image__hover {
  width: auto;
  margin-top: 15px;

  @include variable.mq("md") {
    width: 560px;
  }
}

.works5__hover__image1 {

}

.works5__hover__image2 {
  margin-top: 30px;
}

.works5__hover__image3 {
  margin-top: 30px;
}

.works5__hover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 1.6;
  font-size: 14px;

  @include variable.mq("md") {
    font-size: 16px;
  }
}

.works5__hover__text-2 {
}


