@use "sass:map";
@use "variable";

.works {
  margin-top: 70px;
  margin-bottom: 100px;

  @include variable.mq("md") {
    padding-bottom: 160px;
  }
}

.works__inner {

}


.works__heading {
  margin-left: 37px;
  margin-bottom: 30px;

  @include variable.mq("lg") {
    margin-left: 12%;
  }
}

.works__bg {
  width: 69%;
  padding-top: 39%;
  position: absolute;
  right: 0;
  background: linear-gradient(96deg, rgba(230, 238, 207, 0.27) 0%, rgba(191, 206, 236, 0.27) 10.27%, rgba(219, 148, 214, 0.27) 83.05%, rgba(254, 245, 178, 0.27) 98.61%);
  margin-top: 200px;
}

.works__slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include variable.mq("md") {
    margin-top: 70px;
  }
}

.swiper {

}

.works__swiper {
  padding-bottom: 25px;

  @include variable.mq("md") {
    padding: 26px 40px 72px 40px;
    width: 100%;
  }
  
}

.swiper-wrapper {
  transition: transform 300ms ease;
}

.works-wrapper {
  @include variable.mq("lg") {

  }
}

.swiper-slide {

}


.works-slide {
  
  
}

.works-slide:nth-child(3) {

}

.last-slide {

  @include variable.mq("md") {

  }

}

.works__slide {
  margin-inline: 0;
  width: calc(100% - 100px);
  margin-inline: auto;

  @include variable.mq("lg") {
    width: calc(100% - 500px);
    margin-inline: auto;
  }
}

.works-slide:nth-child(3) {

  
}


.works-card {
  width: calc(100% - 20px);
  margin-inline: auto;

  @include variable.mq("sm") {
    width: calc(100% - 40px);
  }

  @include variable.mq("md") {
    width: calc(100% - 60px);
  }

  @include variable.mq("lg") {
    width: calc(100% - 30px);
    margin-inline: 0;
  }
}

.works-card__image {
  background: #e8e1ee;
  padding-top: 14px;

}

.works-card__description {
  margin-top: 25px;
}

.works-card__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.68px;

  @include variable.mq("sm") {
    font-size: 20px;
  }

  @include variable.mq("lg") {
    font-size: 22px;
  }
}

.works-card__text {
  font-size: 10px;
  margin-top: 8px;
  line-height: 2;
  letter-spacing: 0.96px;
  font-weight: 500;

  @include variable.mq("sm") {
    font-size: 13px;
  }

  @include variable.mq("lg") {
    font-size: 15px;
  }

}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 9px;
  bottom: 0;

  @include variable.mq("md") {
    gap: 17px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #bcbcbc;
    opacity: 1;

    @include variable.mq("md") {
      width: 12px;
      height: 12px;
    }

    &.swiper-pagination-bullet-active {
      background: #D79CF1;
    }
  }
}

.works__pagination {

}

.swiper-button-prev {

}

.works__prev,
.works__next {
  width: 45px;
  height: 45px;
  background-color: #000;

  @include variable.mq("sm") {
    width: 65px;
    height: 65px;
  }

  @include variable.mq("md") {
    width: 80px;
    height: 80px;
  }

  &::after {
    display: none;
  }
}

.works__prev {
  display: inline-block;
  padding: 10px;
  left: 0 !important;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    position: absolute;
    left: 19px;
    top: 18px;
    transform: rotate(-135deg);

    @include variable.mq("sm") {
      width: 16px;
      height: 16px;
      left: 27px;
      top: 26px;
    }

    @include variable.mq("md") {
      width: 18px;
      height: 18px;
      left: 34px;
      top: 32px;
    }

  }
}

.swiper-button-next {

}

.works__next {
  display: inline-block;
  padding: 10px;
  right: 0 !important;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    position: absolute;
    left: 15px;
    top: 18px;
    transform: rotate(45deg);

    @include variable.mq("sm") {
      width: 16px;
      height: 16px;
      left: 18px;
      top: 26px;
    }

    @include variable.mq("md") {
      width: 18px;
      height: 18px;
      left: 24px;
      top: 32px;
    }

    
  }
}

.works__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @include variable.mq("md") {
    margin-top: 100px;
  }
}
