@use "sass:map";
@use "variable";


.works4__highlight__content {
  display: flex;

  @include variable.mq("md") {
    flex-direction: row;
    gap: 50px;
  }
}

.works4__header__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__header-image {

}

.works4__header__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}


.works4__highlight__content-2 {
  @include variable.mq("md") {
    gap: 80px;
  }
}

.works4__drawer__image {
  @include variable.mq("md") {
    width: 450px;
    padding: 20px;
  }
}

.works4__drawer-image {

}

.works4__slider__text-2 {
  font-size: 15px;
}

.works4__case__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__case-image {

}

.works4__case__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__news__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__news-image {

}

.works4__news__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__modal__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__modal-image {

}

.works4__modal__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__highlight__content-y {
  @include variable.mq("md") {
    gap: 100px;
  }
}

.works4__movie__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__movie-image {

}

.works4__movie__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__howtouse-merit__image {
  @include variable.mq("md") {
    width: 620px;
    padding: 20px;
    display: flex;
    gap: 20px;
  }
}

.works4__howtouse-image {

}

.works4__merit-image {

}

.works4__howtouse__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__highlight__content-3 {
  @include variable.mq("md") {
    gap: 150px;
  }
}

.works4__compare__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__compare-image {

}

.works4__compare__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__compare__image_sp {
  @include variable.mq("md") {
    width: 450px;
    padding: 20px;
  }
}

.works4__compare-image_sp {

}

.works4__compare__text-2 {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__qa__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__qa-image {

}

.works4__qa__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__gallery__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__gallery-image {

}

.works4__gallery__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.works4__contact__image {
  @include variable.mq("md") {
    width: 560px;
    padding: 20px;
  }
}

.works4__contact-image {

}

.works4__contact__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.work4__hover__image1 {
  display: flex;
  gap: 20px;
}

.works4__hover__image1-1 {
  width: 200px;
}

.works4__arrow {
  top: 24px;
}

.works4__arrow-1 {

}

.works4__hover__image1-2 {
  width: 200px;
}

.works4__hover__image2 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.works4__hover__image2-1 {
  width: 200px;
}

.works4__arrow-2 {

}

.works4__hover__image2-2 {
  width: 200px;
}

.works4__hover__image3 {
  width: 480px;
  margin-top: 20px;
}

.works4__hover__text {
  font-size: 15px;
  display: flex;
  align-items: center;
}

