@use "sass:map";
@use "variable";

.works {
  margin-top: 70px;
  margin-bottom: 70px;
}

.works__inner {

}


.works__heading {
  margin-left: 37px;
  margin-bottom: 30px;
}

.works__bg {

}

.works__slider {

}

.swiper {

}

.works__swiper {
  margin: 26px 18px 0 37px;
}

.swiper-wrapper {

}

.swiper-slide {

}

.works__slide {

}

.works-card {

}

.works-card__image {

}

.works-card__description {

}

.works-card__title {
  font-size: 16px;
}

.works-card__text {
  font-size: 10px;
  margin-top: 8px;
}

.swiper-pagination {

}

.works__pagination {

}

.swiper-button-prev {

}

.works__prev {

}

.swiper-button-next {

}

.works__next {

}

