@use "sass:map";
@use "variable";

.works3__highlight__content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.works3__hover__image_1 {
  padding: 30px 40px;
}

.works3__hover__image1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.works3__hover__image1-1 {
  width: 200px;
}

.works3__arrow {

}

.works3__hover__image1-2 {
  width: 200px;
}

.works3__hover__text {
  line-height: 2.4;
}

.works3__hover__image2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.works3__hover__image2-1 {
  width: 220px;
}

.works3__arrow-2 {
  top: 50px;
}

.works3__hover__image2-2 {
  width: 220px;
}

.works3__highlight__content-2 {
  margin-top: 60px;
}

.works3__hover__image3 {
  display: flex;
  gap: 20px;
}

.works3__hover__image3-1 {
  width: 200px;
}

.works3__arrow-3 {
  top: 38px;
}

.works3__hover__image3-2 {
  width: 200px;
}



.works3__hover__image4 {
  width: 500px;
  margin-top: 20px;
}

.works3__hover__image5 {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.works3__hover__image5-1 {
  width: 210px;
}



.works3__arrow-5 {
  top: 31px;
}

.works3__hover__image5-2 {
  width: 210px;
}

.works3__highlight__image__form {
  @include variable.mq("md") {
    width: 560px;
  }
}

.works3__form__image {
  @include variable.mq("md") {
    width: 500px;
  }

  img {
    width: 100%;
  }
}

.works3__form__text {
  line-height: 2.0;
}

.works3__form__text-1 {

}

.works3__form__text-2 {
  margin-top: 40px;
}


.works3__highlight__image__drawer {

}

.works3__drawer__image {
  @include variable.mq("md") {
    width: 400px;
  }

  img {
    width: 100%;
  }
}

.works3__drawer__text {
  line-height: 2.0;
}

.works3__drawer__text-1 {

}

.works3__drawer__text-2 {
  margin-top: 30px;
}







