@use "sass:map";
@use "variable";

.works-page__inner {
  margin-top: 100px;

  @include variable.mq("md") {
    margin-top: 195px;
  }
}

.works-page__image {
  display: flex;
  justify-content: center;
  margin-inline: 20px;

  @include variable.mq("sm"){
    margin-inline: 40px;
  }

  img {

    @include variable.mq("md") {
      width: 750px;
    }
    
  }
}

.works-page__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 1.5px;

  &.is-in-view {
    transition-delay: 0.3s;
  }


  @include variable.mq("md") {
    font-size: 36px;
    margin-top: 49px;
    letter-spacing: 4.0px;
  }
}

.works-page__text {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 7px;

  &.is-in-view {
    transition-delay: 0.6s;
  }

  @include variable.mq("sm") {
    font-size: 15px;
  }

  @include variable.mq("md") {
    font-size: 17px;
    margin-top: 80px;
  }
}

.works-info__items {
  margin-top: 30px;
  margin-left: 50px;

  .js-in-view {
    &.is-in-view {
      transition-delay: 0.9s;
    }
  }

  @include variable.mq("xs") {
    margin-left: 20px;
  }

  @include variable.mq("md") {
    margin-top: 50px;
    margin-left: 150px;
  }

  @include variable.mq("lg") {
    margin-left: 200px;
  }
}

.works-info__item {
  display: flex;
  flex-direction: column;

  @include variable.mq("md") {
    width: 679px;
    margin-right: auto;
    margin-top: 43px;
    margin-left: auto;
    flex-direction: row;
  }
}

.works-info__item:not(:first-child) {
  margin-top: 40px;
}

.info-item__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.6px;

  @include variable.mq("md") {
    font-size: 18px;
    width: 180px;
    font-weight: 500;
  }
}

.info-item__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.7px;

  @include variable.mq("sm") {
    font-size: 16px;
  }

  @include variable.mq("md") {
    font-size: 18px;
  }
}

.info-item__text-c {
  margin-left: 20px;

  @include variable.mq("md") {
    margin-left: 75px;
  }
  
}

.info-item__text-o {
  font-size: 11px;

  @include variable.mq("md") {
    font-size: 18px;
  }
}


.works-page__message {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;

  &.is-in-view {
    transition-delay: 0.3s;
  }

  @include variable.mq("md") {
    margin-top: 60px;
    font-size: 16px;
  }
}

.works-page__message__text {

}

.works-page__message__name {

}

.works-page__message__pass {

}

.works-page__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &.is-in-view {
    transition-delay: 0.3s;
  }

  @include variable.mq("md") {
    margin-top: 45px;
  }
}


.works-page__description__wrapper {
  background: rgba(241, 232, 246, 0.40);
  margin-top: 50px;

  
  @include variable.mq("md") {
    margin-top: 65px;
    margin-inline: 170px;
    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include variable.mq("xl") {
    padding-top: 61px;
    padding-bottom: 61px;
    padding-left: 139px;
    padding-right: 88px;
  }
}

.works-page__description {
  padding: 20px 35px;

  @include variable.mq("md") {
    padding: 0;
  }
}

.works__description-item {
  display: flex;
  flex-direction: column;

  &.is-in-view {
    transition-delay: 0.4s;
  }

  @include variable.mq("md") {
    flex-direction: row;
}
}

.works__description-item:not(:first-child) {
  margin-top: 20px;

  @include variable.mq("md") {
      margin-top: 66px;
  }
}

.works__description-item__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.92px;

  @include variable.mq("md") {
    font-size: 17px;
    font-size: 20px;
    width: 229px;
  }
}

.works__description-item__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;

  @include variable.mq("sm") {
    font-size: 16px;
  }

  @include variable.mq("md") {
    font-size: 17px;
    letter-spacing: 1.6px;
  }
}

.works__highlight {
  margin-top: 80px;
  margin-inline: 30px;

  @include variable.mq("md") {
    margin-inline: 100px;
    margin-top: 187px;
  }

  @include variable.mq("lg") {
    margin-inline: 170px;
  }
}

.works__highlight__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 1.92px;
  padding:0 9px;
  background: transparent;
  border-left: solid 10px #C7C4E8;

  @include variable.mq("md") {
    font-size: 20px;
    border-left: solid 20px #C7C4E8;
    padding:1px 24px;
  }
}

.works__highlight__content {
  margin-top: 50px;
}

.works__highlight__content__f {
  display: flex;
  flex-direction: column-reverse;

  @include variable.mq("xl") {
    flex-direction: row;
  }
}


.arrow {
  display: inline-block;
  width: 40px;
  height: 35px;
  background: #ccaeef;
  clip-path: polygon(0 26.2%, 52.6% 26.2%, 52.6% 0, 100% 50%, 52.6% 100%, 52.6% 73.8%, 0 73.8%);
  position: relative;
  top: 140px;
}


.works__highlight__content-wrapper {

}

.works__highlight-content {
  margin-top: 50px;
  margin-left: 20px;

  @include variable.mq("md") {
    margin-left: 40px;
  }

  @include variable.mq("xl") {
    margin-left: 60px;
  }
}

.works__highlight__content-item {
  display: flex;
  flex-direction: column;

  @include variable.mq("xl") {
    flex-direction: row;
  }
}

.works__highlight__content-item:not(:first-child) {
  margin-top: 30px;

  @include variable.mq("lg") {
    margin-top: 40px;
  }
}

.works__highlight__content-item-2 {
  @include variable.mq("lg") {
    margin-top: 40px;
  }
}

.works__highlight__content-item__title {
  width: 200px;
  font-size: 17px;
  font-weight: 600;
}

.works__highlight__content-item__text {
  font-size: 12px;

  @include variable.mq("lg") {
    font-size: 15px;
  }
}

.works__highlight__image {
  padding: 10px;
  background: linear-gradient(96deg, rgba(230, 238, 207, 0.28) 0%, rgba(191, 206, 236, 0.31) 0.01%, rgba(216, 153, 216, 0.27) 96.62%, rgba(219, 148, 214, 0.26) 96.63%);

  @include variable.mq("md") {
    padding: 30px;
  }
}

.works__responsive__text {
  line-height: 1.5;
  margin-left: 0;
  font-size: 12px;

  @include variable.mq("md") {
    font-size: 14px;
  }
}


.site__image-bg {
  background: rgba(239, 218, 242, 0.48);
  width: 100%;
  margin: 130px auto;
  padding: 60px 20px 30px;
  margin-bottom: 80px;

  @include variable.mq("sm") {
    padding-inline: 40px;
  }

  @include variable.mq("lg") {
    max-width: 1140px;
    padding: 60px;
    margin-bottom: 100px;
  }
}

.site__image-text {
  font-size: 10px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.site__image {
  margin-inline: auto;
  aspect-ratio: 3 / 2;
  border: 1px solid #bebebe;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .1), 0 2px 12px rgba(0, 0, 0, .1);
  overflow-y: scroll;
  scrollbar-width: none;

  }

  .works-item__button {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    @include variable.mq("sm") {
      padding-bottom: 80px;
    }

    @include variable.mq("md") {
      padding-bottom: 100px;
    }

    @include variable.mq("lg") {
      padding-bottom: 160px;
    }
  }





