@use "sass:map";
@use "variable";
@use "header";
@use "fv";
@use "about";
@use "works";
@use "contact";
@use "footer";
@use "works-page";
@use "works-page-item";
@use "works-sobolon";
@use "works-sweets";
@use "works-onomichi";
@use "works-oha";
@use "about-page";



// 共通

html {
  scroll-behavior: smooth;
  scroll-padding-top: variable.$header-height-sp;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include variable.mq("md") {
    scroll-padding-top: variable.$header-height-pc;
  }
}

body {
  font-family: variable.$font-family;
  color: variable.$text-color;
}

.wrapper {
  overflow: hidden;
}

.main {
  margin-top: variable.$header-height-sp;

  @include variable.mq("md") {
    margin-top: variable.$header-height-pc;
  }
}

.hidden-pc {

  @include variable.mq("md") {
    display: none;
  }
}

.hidden-sp {
  display: none;
  @include variable.mq("md") {
    display: block;
  }
}

.hidden-sp-pc {
  display: none;

  @include variable.mq("md") {
    display: block;
  }

  @include variable.mq("xl") {
    display: none;
  }
}

// ボタン

.button {
  display: block;
  width: 112px;
  height: 26px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;

  @include variable.mq("md") {
    width: 170px;
    height: 38px;
    font-size: 15px;
    letter-spacing: 6px;
    padding: 10px;
  }


  &:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px #000;
    
    @include variable.mq("md") {
      padding-top: 9px;
    }
  }
}


// heading

.heading {
  font-size: 16px;
  display: flex;
  align-items: center;

  @include variable.mq("md") {
    font-size: 23px;
  }

  &::before,
  &::after {
    content: '';
    width: 15px;
    height: 2px;
    background: #000;

    @include variable.mq("md") {
      width: 20px;
    }
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}


// スクロール時のアニメーション


.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.5s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100px); /* 右から */
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100px); /* 左から */
  transition: opacity 1.5s, transform 1.5s;

  &.is-in-view {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-up-s {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s, transform 1s;
  visibility: hidden;
  
  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    animation-duration: 1.5s;
    animation-name: myFadeIn;
    animation-fill-mode: forwards;
  }
}

@keyframes myFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}